.main-container {
  width: 700px;
  height: 400px;
  margin: auto;
  background: #0FBCEA;
  margin-top: 50px;
}
.main-container button{
    cursor: pointer;
}
.container {
  background-color: #163B3D;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
}
.title {
  font-size: 19px;
  color: #fff;
}
.add-btn {
  height: 40px;
  width: 120px;
  border: none;
  border-radius: 5px;
  font-size: 19px;
  align-items: center;
  background: #185F64 ;
  color: #fff;
}

.list-item{
    display: flex;
    list-style-type: none;
    height: 50px;
    background-color: #454C4D ;
    width: 610px;
    align-items: center;
    color: #B0DCE8  ;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    justify-content: space-between;
}
.list-item h1,p{
    margin: 0px;
    padding: 0px;
}
.list-item h1{
  font-size: 15px;
}

.list-btn{
    width: 70px;
    height: 30px;
}

.form-container{
    width: 80%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-around;
    margin: auto;
}
.input-container{
    display: flex;
    flex-direction: column;
}
.input-container input{
    height: 30px;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
}
.input-container Label{
   color: #fff; 
}
.submit-btn{
    height: 39px;
    width: 70px;
    margin-top: 18px;
}
