<div class="main-container">
  <div class="container">
    <h1 class="title">Add data</h1>
    <button class="add-btn" *ngIf="!show_form" (click)="showForm()">ADD</button>
  </div>
  <form class="form-container" *ngIf="show_form" [formGroup]="dataForm">
    <div class="input-container">
      <label>Username</label>
      <input formControlName="username" type="text">
    </div>
    <div class="input-container">
      <label>Email</label>
      <input formControlName="email" type="email">
    </div>
    <button class="submit-btn" (click)="submitDataForm()" [disabled]="dataForm.invalid">submit</button>
    <button class="submit-btn" (click)="cancelForm()">cancel</button>
  </form>

  <ul class="list-container">
    <li class="list-item" *ngFor="let data of dataList;index as i">
      <div>
        <h1>{{data.username}}</h1>
        <p>{{data.email}}</p>
      </div>
      <div>
        <button class="list-btn" (click)="updateData(data);">update</button>
        <button class="list-btn" (click)="deleteData(data)">delete</button>
      </div>
    </li>
  </ul>
</div>